@import '_includes/_vars';
@import '_includes/_mixins';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    @include bp-mobile {
        font-size: 16px;
    }
}

main {
    height: 100vh;
}

a {
    color: $black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    position: relative;
}

h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.2;
    @include bp-mobile {
        font-size: 28px;
    }
}

p {
    line-height: 1.4;
    font-size: 20px;
    @include bp-mobile {
        font-size: 16px;
    }
}

.hero {
    &__content {
        margin: 0 auto;
    }
    &__header {
        padding: 4rem 0 8rem 0;
        max-width: 500px;
        h1, p {
            margin: 0.5rem 0;
        }
        h1 {
            font-size: 42px;
        }
        p {
            opacity: 0.5;
        }
    }
    &__img {
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000), url(https://www.livemint.com/rf/Image-621x414/LiveMint/Period2/2016/09/20/Photos/Processed/uksinha-kLcD--621x414@LiveMint.JPG);
    }
    @include bp-mobile {
        &__header {
            padding: 2rem 1rem;
            h1 {
                font-size: 32px;
            }
        }
        &__img {
            display: none;
        }
    }
}

.testimonial {
    padding: 1rem;
    margin: 2rem 2rem 4rem 9rem;
    text-align: right;
    color: $white;
    h4, p {
        margin: 1rem 0;
    }
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0.5;
    }
}

.navbar {
    padding: 1rem 0;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 3rem;
        img {
            width: 100%;
            height: auto;
        }
    }
    @include bp-mobile {
        padding: 0.5rem 1.5rem;
        &__list {
            justify-content: space-between;
        }
        &__item {
            margin-right: 0;
            &:nth-child(1) {
                width: 125px;
            }
        }
    }
}

.banner {
    color: $white;
    margin-top: -8%;
    padding: 8rem 0 6rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../files/img/farm-bg.svg);
    &__content {
        margin: 0 auto;
    }
    h1, p {
        margin: 1rem 0;
    }
    @include bp-mobile {
        margin-top: 0;
        padding: 6rem 0 4rem 0;
        background-position: 10% 0;
        &__content {
            padding: 1rem;
        }
        h1, p {
            margin: 0.5rem 0;
        }
    }
}

.about {
    padding: 2rem 0;
    &__content {
        margin: 0 auto;
        padding-bottom: 2rem;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        h1, p {
            margin: 1rem 0;
        }
        h1 {
            color: #c03838;
        }
    }
    @include bp-mobile {
        padding: 1rem 0;
        &__content {
            padding: 0 1rem 2rem 1rem;
        }
        h1, p {
            margin: 0.5rem 0;
        }
    }
}

.features {
    &__content {
        margin: 0 auto;
        padding-bottom: 2rem;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        h1 {
            // hack
            margin-bottom: 3rem;
        }
    }
    &__tab {
        margin: 2rem 0;
    }
    &__key {
        width: 33%;
        cursor: pointer;
        padding: 0 1rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        color: rgba(0,0,0,0.5);
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        img {
            height: 80px;
            width: 80px;
        }
        span {
            font-size: 22px;
            margin: 1rem 0;
        }
        &--selected {
            filter: none;
        }
        &--selected:nth-child(1) {
            color: #435ca7;
            border-color: #435ca7;
        }
        &--selected:nth-child(2) {
            color: #a74343;
            border-color: #a74343;
        }
        &--selected:nth-child(3) {
            color: #e7a02e;
            border-color: #e7a02e;
        }
        &:hover {
            filter: none;

        }
    }
    &__list {
        columns: 2;
        column-gap: 8rem;
    }
    &__item {
        padding: 1rem 0;
        display: flex;
        align-items: flex-start;
        img {
            height: 30px;
            width: 30px;
            margin-right: 1rem;
        }
    }
    @include bp-mobile {
        &__content {
            padding: 0 1rem 2rem 1rem;
            h1 {
                margin-bottom: 1rem;
            }
        }
        &__key {
            img {
                width: 100%;
                height: auto;
            }
            span {
                font-size: 14px;
            }
        }
        &__list {
            columns: 1;
        }
        &__item {
            padding: 0;
            margin-bottom: 1rem;
        }
    }
}

.benefits {
    margin: 4rem 0;
    > img {
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        padding: 2rem 0;
        position: absolute;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin: 0 auto;
    }
    &__wrapper {
        max-width: 420px;
        margin-right: -4rem;
    }
    &__list {
        margin: 2rem 0;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        img {
            height: 40px;
            width: 40px;
            margin: 0rem 2rem 2rem 0;
        }
    }
    @include bp-mobile {
        margin: 2rem 0;
        > img {
            display: none;
        }
        &__content {
            padding: 0 1rem;
        }
        &__wrapper {
            margin-right: 0;
        }
        &__list {
            margin: 2rem 0 0 0;
        }
    }
}

.try-procol {
    padding: 4rem 0;
    border-top: 2px solid rgba(0,0,0,0.1);
    > img {
        z-index: -1;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__content {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__contact {
        padding-right: 4rem;
        ul {
            margin: 1.5rem 0;
        }
        li {
            display: flex;
            align-items: center;
            margin: 1rem 0;
            img {
                margin-right: 1rem;
            }
        }
    }
    &__seperator {
        display: flex;
        align-items: center;
        span {
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 16px;
            font-weight: bold;
        }
        hr {
            height: 2px;
            width: 100%;
            margin: 0 1rem;
            opacity: 0.1;
        }
    }
    @include bp-mobile {
        padding: 2rem 0;
        &__content {
            padding: 0 1rem;
            img {
                display: none;
            }
        }
        &__contact {
            padding: 0;
        }
    }
}

.footer {
    color: $white;
    padding: 4rem 0;
    background-color: #432121;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            opacity: 0.5;
        }
    }
    &__links {
        margin: 2rem;
        display: flex;
        li {
            a {
                color: $white;
            }
            margin-right: 1rem;
        }
    }
    @include bp-mobile {
        padding: 2rem 0;
    }
}

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: $btnPrimary;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 1.5rem 0;
    letter-spacing: 1.1px;
    transition: all 0.3s ease;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $btnPrimaryHover;
        box-shadow: 2px 2px 8px $btnPrimary;
    }
    @include bp-mobile {
        font-size: 14px;
        margin: 1rem 0;
    }
}


// @include bp-mobile {
// 	header h1 {
//         font-size: 2.55em;
//     }
//     .code-block code {
//         display: block;
//     }
// }

// @media(max-width:843px) {
//     .btn-download {
//         margin-bottom: 1.5em;
//     }
// }

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-color: rgba(46,34,34,0.95);
    &__content {
        width: 100%;
        max-width: 420px;
        padding: 2rem;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 32px 44px 0 rgba(0, 0, 0, 0.2);
        h1, p {
            text-align: center;
        }
        p {
            opacity: 0.5;
            margin: 0.5rem 0;
        }
    }
}

.contact-form {
    margin: 2rem 0;
    &__field {
        margin: 1rem 0;
        label {
            display: block;
            margin: 0.5rem 0;
        }
        input {
            width: 100%;
            padding: 1rem;
            font-size: 14px;
            border-radius: 7px;
            border: solid 1px rgba(0,0,0,0.1);
            &:focus {
                outline: none;
                border-color: $black;
            }
        }
    }
    button {
        width: 50%;
        display: block;
        margin: 1.5rem auto;
    }
}

.hidden {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.w-fixed {
    width: 100%;
    max-width: 1024px;
}

.t-bold {
    font-weight: bold;
}
